<template class="task-template">
    <section id="{}-section" class="section js-section u-category-{}">
        
        <header class="section-header">
            <div class="section-wrapper">
                <h1>Глоссарий по финансовой грамотности</h1>
                <h3>Электронные таблицы &mdash; это важный практический инструмент, позволяющий 
                    пользователям без особой подготовки выполнять сложные вычисления</h3>

                <p>Особенностью таблиц является то, что вычисления в них могут быть зависимыми.</p>
            </div>
        </header>

{}

    </section>
</template>
