<template class="task-template">
    <section id="glossary-section" class="section js-section u-category-materials">

        <header class="section-header">
            <div class="section-wrapper">
                <h1>Глоссарий по финансовой грамотности</h1>
                <h3>Финансы &mdash; это область знаний, богатая терминологией. 
                    Неотъемлемым элементом успеха в финансовой грамотности является 
                    свободное владение перечисленными ниже терминами и понятиями.</h3>
            </div>
        </header>

{}

    </section>
</template>