<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="vendor/font-awesome/fa-svg-with-js.css">

  <link rel="stylesheet" href="assets/css/variables.css">
  <link rel="stylesheet" href="assets/css/nativize.css">
  <link rel="stylesheet" href="assets/css/global.css">
  <link rel="stylesheet" href="assets/css/about.css">
  <link rel="stylesheet" href="assets/css/nav.css">
  <link rel="stylesheet" href="assets/css/section.css">
  <link rel="stylesheet" href="assets/css/demo.css">
  <link rel="stylesheet" href="assets/css/print.css">
  <link rel="stylesheet" href="assets/css/github.css">

  <link rel="import" href="sections/materials/1-schoolbook.html">
  <link rel="import" href="sections/materials/2-schoolbook.html">
  <link rel="import" href="sections/materials/3-schoolbook.html">

  <link rel="import" href="sections/materials/textbook.html">
  <!-- <link rel="import" href="sections/materials/toolkit.html"> -->
  <link rel="import" href="sections/materials/glossary.html">
  <link rel="import" href="sections/contacts.html">
<!-- SECTIONS DATA -->
</head>

<body>

  <a id="button-pdf" class="button-pdf fa-3x"><i class="fas fa-print" data-fa-transform="shrink-8" data-fa-mask="fas fa-circle"></i></a>
  <nav class="nav js-nav">

    <header class="nav-header">
      <img class="nav-header-icon" src="assets/img/finformatika.png"></img>
      <h1 class="nav-title">Финформатика</h1>
    </header>

    <div class="nav-item u-category-materials">
      <h5 class="nav-category">Полезные материалы</h5>
      <button type="button" id="button-textbook" data-section="textbook" class="nav-button">Финансы в информатике</button>
      <!-- <button type="button" id="button-toolkit" data-section="toolkit" class="nav-button">Методическое пособие для учителей</button> -->
      <button type="button" id="button-glossary" data-section="glossary" class="nav-button">Глоссарий по финансовой грамотности</button>
      <button type="button" id="button-1-schoolbook" data-section="1-schoolbook" class="nav-button">Учебное пособие по 5-6 классам</button>
      <button type="button" id="button-2-schoolbook" data-section="2-schoolbook" class="nav-button">Учебное пособие по 7-9 классам</button>
      <button type="button" id="button-3-schoolbook" data-section="3-schoolbook" class="nav-button">Учебное пособие по 10-11 классам</button>
    </div>

<!-- GRADES DATA -->
  <div class="nav-item u-category-contacts">
    <button type="button" id="button-contacts" data-section="contacts" class="nav-button anti-padding"><h5 class="nav-category">Обратная связь</h5></button>
  </div>
    <footer class="nav-footer">
      <!-- <button type="button" id="button-about" data-modal="about" class="nav-footer-button"><h3>Контактные данные</h3></button> -->
      <p>Программа разработана по заказу Министерства финансов Российской Федерации в ходе реализации совместного Проекта Российской
        Федерации и Международного банка реконструкции и развития «Содействие повышению уровня финансовой грамотности населения
        и развитию финансового образования в Российской Федерации»</p>
    </footer>
  </nav>

  <main class="content js-content"></main>

  <script src="vendor/font-awesome/fontawesome-all.min.js"></script>
  <script src='vendor/MathJax.js'></script>

  <script>
    require('./assets/imports')
    require('./assets/ex-links')
    require('./assets/nav')
    require('./assets/demo-btns')
    require('./renderer-process/logics')
  </script>
</body>

</html>