<template class="task-template">
    <section id="textbook-section" class="section js-section u-category-materials">
        <header class="section-header">
            <div class="section-wrapper">
                <h1>Оглавление</h1>
                <div id="toc-textbook" class="toc-bar"></div>
            </div>
        </header>
        <div class="section-wrapper justify-text">
            <h1 id="h1_intro" class="to-toc h1-good">Введение</h1>
            <p>Пригодится ли мне то, что я учу в школе? Чему мне нужно научиться, чтобы лучше подготовиться к
                самостоятельной
                взрослой жизни? Такие вопросы, наверное, хоть раз задавал себе каждый школьник. Ответить на этот вопрос
                однозначно
                сложно, поскольку приоритеты и потребности каждого из нас сильно отличаются. Однако о некоторых знаниях
                и
                умениях, нужных каждому, сказать можно.</p>
            <p>Сборник заданий, который вы держите в руках, раскрывает одну из областей практического приложения
                знаний, получаемых
                на уроках математики и информатики.</p>
            <p>Одно из самых важных проявлений взрослой жизни &mdash; необходимость самостоятельно принимать самые
                разные решения,
                многие их которых так или иначе связаны с деньгами. Как заработать, на что потратить, от чего
                отказаться
                &mdash; эти вопросы нам приходится решать постоянно. Для грамотного и успешного решения нам абсолютно
                необходим
                навык выбора &mdash; умение определять приоритеты (определение важного и отказ от второстепенного),
                находить
                нужную информацию, сравнивать возможные варианты и выделять наилучший из них.</p>
            <p>Мы также должны научиться увязывать наши решения во времени, предвидеть будущие последствия сегодняшних
                решений,
                думать о завтрашнем дне. Для этого нам необходимо приобрести умение планировать &mdash; структурировать
                свои
                задачи, распределять ресурсы и возможности, видеть конечную цель своих действий.</p>
            <p>Очень важно понимать, что в реальной жизни финансово грамотное решение, как правило, вырабатывается не
                методом
                проб и ошибок, а путем аккуратных математических расчетов, с использованием полученных ранее знаний!
                Понимание
                возможностей компьютера и наличие навыка использования этих возможностей делает эту подготовительную
                работу
                более быстрой и эффективной, обеспечивает нас удобными инструментами расчетов, обработки информации,
                моделирования
                и планирования.</p>
            <p>При подготовке заданий сборника составители стремились смоделировать жизненные ситуации, связанные с
                управлением
                личными финансами, и поставить вопросы, которые требуют от людей решения в этих ситуациях. От учащегося
                при
                выработке таких решений требуется применить знания, полученные на уроке информатики.</p>
            <p>В частности, многие задачи сборника требуют использования электронных таблиц для выработки решений по
                различным
                аспектам управления личными финансами. С помощью электронных таблиц производится обработка числовых
                данных,
                расчет стоимости и других параметров рассматриваемых вариантов решения, сортировка результатов в
                заданном
                порядке.
            </p>
            <p>Для решения ряда задач требуется умение строить графики, наглядно демонстрирующие рассматриваемую
                ситуацию, выявленные
                зависимости и тенденции.</p>
            <p>Задачи сборника также тренируют навыки программирования. Разработка программ, в частности, необходима
                для решения
                задач потребительского выбора, определения стоимости рассматриваемых вариантов при различных входных
                показателях,
                обработки больших массивов данных для выявления значений, соответствующих заданным параметрам и
                ограничениям.</p>
            <p>Для решения некоторых задач сборника понадобится также умение использовать готовые прикладные
                компьютерные программы
                (например, использование «кредитного калькулятора» для принятия решения об использовании заемных
                средств).</p>
            <p>Задачи, связанные с планированием бюджета, сведением воедино различных финансовых параметров, требуют
                умения
                разработки и использования компьютерно-математических моделей; грамотной интерпретации получаемых
                результатов,
                навыка анализа модели на предмет соответствия реальному объекту или процессу. В частности,
                моделирование
                используется при решении финансовых задач на тему лотерей, страхования, «финансовых пирамид».</p>
            <p>Нередко в жизни нам приходится вести учет тех или иных финансовых операций, хранить и обрабатывать
                большие массивы
                информации. В таких ситуациях очень облегчает задачу использование баз данных. При решении ряда задач
                сборника
                понадобится составлять запросы, выполнять сортировку и поиск записей; наполнять разработанную базу
                данных.</p>
            <p>Электронные средства коммуникации и хранения информации играют сегодня огромную роль в нашей жизни, в
                том числе,
                и в ее финансовых аспектах. Это дает нам огромные преимущества, но, в то же время, таит в себе немало
                опасностей.
                Знание основных принципов обеспечения информационной безопасности позволит снизить риск финансовых
                потерь
                от электронного мошенничества. В сборнике представлен ряд задач, посвященных защите персональной
                финансовой
                информации от неправомерного доступа.</p>
            <p>Также на уроках информатики учащиеся имеют возможность потренировать навыки информационного поиска. Для
                принятия
                финансово грамотных решений очень важно уметь критически оценивать информацию, полученную из сети
                Интернет,
                сопоставлять данные из различных источников. Для выполнения отдельных задач сборника потребуется
                проведение
                поиска открытой информации финансового характера (о ценах и ассортименте товаров и услуг, информации о
                защите
                прав потребителя и т.д.)</p>
            </p>
            <p>Таким образом, задания сборника нацелены на формирование адекватных представлений об управлении личными
                финансами
                и развитие навыков ответственного, грамотного потребительского поведения на финансовом рынке.</p>
            </p>
            <p>Задачи сборника структурированы по разделам, изучаемым в школьном курсе информатики. Отметим, что
                учебных пособий,
                по которым возможно изучение информатики в настоящее время достаточно много и учителя учебных заведений
                могут
                самостоятельно выбирать их для своих курсов. Поэтому название каждого раздела носит обобщающий
                характер,
                т.к. в учебных пособиях разных авторов близкие по смыслу изучаемые модули могут носить различное
                наименование.
                Кроме того, эти модули могут изучаться в учебных пособиях в различной последовательности и в разные
                временные
                периоды учебной программы. Поэтому для удобства использования настоящего Учебного пособия в каждом
                разделе
                представлена таблица с указанием в каких темах рекомендованных к изучению учебно-методических
                материалов
                она отражена.</p>
            <p>В настоящем Учебном пособии задачи II уровня сложности помечены знаком *, задачи III уровня сложности
                &mdash;
                знаком **.</p>
            <p>Для того чтобы можно было понять к какой из тем финансовой грамотности имеет отношения каждая задача они
                снабжены
                специальным кодом, отражающим принадлежность к той или иной теме. Условные обозначения тем финансовой
                грамотности
                (коды) указывается в наименовании задачи в скобках:</p>
            <ul>
                <li>ПР &mdash; Потребности и расходы</li>
                <li>ДХ &mdash; Зарплата и другие доходы</li>
                <li>ЛБ &mdash; Личный и семейный бюджет</li>
                <li>НЛ &mdash; Налоги</li>
                <li>ДЗ &mdash; Депозиты</li>
                <li>ИН &mdash; Инвестиционный доход</li>
                <li>РС &mdash; Расчеты</li>
                <li>КЗ &mdash; Кредиты и займы</li>
                <li>СТ &mdash; Страхование</li>
                <li>ИД &mdash; Игры с денежными ставками</li>
                <li>РБ &mdash; Риски и финансовая безопасность</li>
            </ul>
            <p>Краткое описание сути условных обозначений тем финансовой грамотности приведено в отдельном разделе
                настоящего
                Учебного пособия вместе с глоссарием, поясняющим смысл используемых в текстах заданий экономических и
                финансовых
                терминов и понятий. Также внутри каждой из тем финансовой грамотности приведены номера задач из тем
                информатики.
                Таким образом использовать настоящее Учебное пособие можно непосредственно как при изучении разделов
                информатики,
                так и при изучении тем финансовой грамотности.</p>

            <p>Составители надеются, что решение и обсуждение предлагаемых в сборнике задач не только позволит учащимся
                освежить
                в памяти и переосмыслить материал школьного курса математики и информатики, подготовиться к решению
                экзаменационных
                и олимпиадных задач, но и внесет значительный вклад в формирование у них основ грамотного финансового и
                потребительского
                поведения. Файлы исходных материалов и решений к задачам размещены в составе ЦОР на интеренет-ресурсах
                финформатика.рф
                и finformatika.ru</p>
        </div>

        <div class="section-wrapper justify-text">
            <h1 id="h1_materials" class="to-toc h1-good">Справочные материалы по финансовой грамотности</h1>

            <h2 id="h2_1" class="usermanual-h2 to-toc">Расходы</h2>
            <p class="usermanual-first-p">Идем ли мы в магазин за покупками, отправляемся ли в путешествие или просто
                смотрим телевизор, все эти действия так или иначе связаны с нашими потребностями и расходами. Очень
                важно уметь правильно определять величину расходов, как уже произведенных, так и будущих.</p>
            <p>Например, чтобы узнать точную величину расходов на электроэнергию за месяц, необходимо рассчитать,
                сколько вы потребили ее за этот период, и умножить полученное количество на тариф. Для расчета
                потребления у вас должен быть установлен счетчик &mdash; специальный прибор, непрерывно учитывающий
                расход (потребление) электроэнергии. Важно понимать, что потребленное количество &mdash; это не
                показания счетчика на текущий момент, а разница между показаниями сейчас и месяц назад. Тариф может
                отличаться в разных регионах. Кроме того, для потребления в разное время суток могут применяться разные
                тарифы.</p>
            <p>Планируя покупку какого-либо товара, мы можем столкнуться с тем, что этот товар не продается в нужном
                количестве, а только в упаковках большего или меньшего размера (объема, веса, количества штук).
                Например, в небольшом магазине, скорее всего, вам не удастся купить 1,5 литра молока, а только 1 или 2
                литра. И если вам нужно именно 1,5 литра, придется ответить себе на несколько вопросов: хватит ли вам
                денег на двухлитровую упаковку? что станет с излишком молока, успеете ли вы его использовать до
                истечения срока годности? А может, вам лучше ограничиться сейчас покупкой одного литра, а позже
                докупить еще? При этом две литровые упаковки, скорее всего, обойдутся дороже, чем одна двухлитровая, и,
                если сумма на покупку продуктов ограничена, придется учитывать еще и стоимость. А представьте, что
                таких товаров много или они намного дороже молока! Если мы хотим более точно рассчитать, что и в каком
                количестве нам выгоднее купить, без электронных таблиц или даже написания небольшой программы уже не
                обойтись.</p>
            <p>С похожей проблемой мы можем столкнуться и пользуясь разными услугами, например, такими, как поездки на
                такси, проживание в гостинице, домашний интернет, мобильная связь, стрижка, химчистка, ремонт
                автомобиля и многое другое. Не всегда просто определить, какое предложение выгоднее, особенно если
                стоимость в каждом случае зависит в разной степени от разных параметров. Как вы думаете, что выгоднее
                при поездке в такси: платить за километраж или за время в пути? Однозначного ответа на этот вопрос нет.
                Он зависит от нескольких факторов: например, от размера платы за подачу машины (это сумма, которую
                придется заплатить в любом случае дополнительно к стоимости, рассчитанной по времени или расстоянию);
                от того, будут ли пробки на вашем пути. А при выборе тарифа мобильного оператора, очевидно, придется
                учитывать среднюю длительность ваших разговоров в месяц, звоните вы родственникам и друзьям в другие
                города или на номера других операторов связи, как много вы пользуетесь интернетом.</p>
            <p>При выборе товаров и услуг имеет смысл сравнить цены и другие характеристики предложений разных
                продавцов. Важно помнить, что сравнивать только цены в большинстве случаев недостаточно! За разными
                ценами может скрываться и разное качество. А кроме того, расходы, связанные с пользованием товаром, не
                ограничиваются лишь суммой его покупки. Чтобы пользоваться компьютером, нужно дополнительно купить
                монитор и клавиатуру, а чтобы спать на кровати, требуется еще и матрас, который часто продается
                отдельно. Для использования многих товаров необходимы расходные материалы (для принтера &mdash;
                картриджи и бумага, для дрели &mdash; сверла и т. п.). Наконец, пользование многими товарами становится
                гораздо удобнее при наличии специальных аксессуаров (для мобильного телефона пригодится чехол, для
                фотоаппарата &mdash; штатив, светофильтры, аккумуляторы, кабели и пр.). При этом стоимость аксессуаров
                у разных производителей может существенно различаться, и часто эти аксессуары нельзя применить для
                моделей других производителей.</p>
            <p>А некоторые покупки могут потребовать пользования дополнительными услугами в будущем. Так, например,
                автомобилю необходимо обязательное техническое обслуживание через определенное количество километров
                пробега, оно может значительно различаться по стоимости в зависимости от марки параметров самой машины.</p>
            <p>Все это примеры взаимодополняющих благ. Для того чтобы оценить реальную стоимость пользования товаром,
                важно еще до покупки представлять, какие товары, материалы и услуги его дополняют, и, если они не
                продаются в комплекте с основным товаром, посчитать совокупные расходы на приобретение всех необходимых
                компонентов.</p>
            <p>Умение правильно реагировать на информацию о скидках и распродажах тоже очень полезно. Иногда,
                оказавшись в нужное время в нужном месте, можно купить понравившуюся вещь дешевле, сэкономив деньги для
                других покупок. Однако само по себе объявление о распродаже не может служить однозначным сигналом к
                покупке: надо аккуратно посчитать, в какую сумму в действительности вам обойдется товар по акции, и
                оценить, насколько это выгоднее других вариантов, например, покупки без скидок в другом магазине.</p>
            <p>Когда скидка объявляется в процентах (&laquo;Цены снижены на 20%!&raquo;), достаточно просто рассчитать
                конечную стоимость и, сравнив с предложениями других магазинов, оценить выгоду. Однако нередко
                предложения бывают сформулированы более сложно либо обставлены рядом условий. Например, покупая один
                или несколько товаров, можно купить еще один товар со скидкой или получить его бесплатно. Чтобы оценить
                выгодность предложения, сначала следует определить реальную цену одной единицы товара, поделив общую
                стоимость покупки на количество приобретенных товаров (включая товары со скидкой и
                &laquo;бесплатные&raquo;). Если полученная цена единицы товара действительно ниже, чем в других
                магазинах, тогда покупка выгодна. При этом стоит всегда задавать себе вопрос: действительно ли мне
                нужно такое количество товара? Если нужна одна пара обуви, покупать три пары только потому, что на них
                предлагают скидку, не всегда разумно.</p>
            <h2 id="h2_2" class="usermanual-h2 to-toc">Доходы</h2>
            <p class="usermanual-first-p">В первом разделе мы говорили о расходах, то есть о том, как тратить деньги.
                Но чтобы тратить, сначала их нужно заработать. Сделать это можно, работая по найму или занимаясь
                собственным делом (или иначе &mdash; предпринимательством).</p>
            <p>Наемные работники занимаются тем, что требует от них работодатель, и за это получают вознаграждение
                &mdash; заработную плату. А предприниматель сам решает, что и как ему делать для того, чтобы получить
                доход. В первом случае для получения дохода достаточно выполнять задачи, поставленные работодателем.
                Какими бы сложными они ни были, если вы хорошо с ними справляетесь, ответственность за ваш доход
                (выплату вам зарплаты) лежит на работодателе.</p>
            <p>Предприниматель же всю ответственность за получение дохода принимает на себя. С одной стороны, он не
                зависит от работодателя, самостоятельно решает, чем, когда и как ему заниматься, как и на что потратить
                заработанную прибыль. Но, с другой стороны, (и об этом стоит всегда помнить) предприниматель полностью
                отвечает за свой доход. Он должен постоянно искать способы заработать деньги и иметь решение на случай
                временного отсутствия дохода, например, если спрос на его товары или услуги неожиданно упадет. А если
                со временем бизнес начнет расти и в одиночку справляться с работой будет сложно, предпринимателю
                придется взять на работу сотрудников и отвечать за доходы не только свои, но и наемного персонала.</p>
            <p>Человек, устраивающийся на работу, (работник по найму) должен понимать, из чего будет складываться его
                заработная плата и сколько он будет получать на руки. Работника может ожидать неприятный сюрприз, если,
                договариваясь о сумме, он не обратит внимания на то, что речь идет о начисленной заработной плате, а не
                о выплачиваемой на руки. Дело в том, что все доходы граждан, включая заработную плату, облагаются
                налогами. И если вы работаете по найму, то, как правило, эти налоги за вас платит работодатель. Сначала
                он определяет, сколько заработал за прошедший месяц каждый работник (эта сумма называется начисленной
                заработной платой), затем из этой суммы уплачивает налоги, а оставшуюся часть выдает работнику
                (наличными или переводом на банковскую карту).</p>
            <p>Также полезно знать, что заработная плата бывает сдельной и повременной. Сдельная плата, как видно из
                названия, зависит от объема сделанной работы: количества произведенной продукции или оказанных услуг. А
                повременная заработная плата выплачивается за количество отработанного времени. Возможна также
                комбинация, когда часть заработной платы может быть повременной и выплачиваться сотруднику за
                отработанное время, а часть &mdash; сдельной и зависеть от результатов его труда. Первую часть в таком
                случае обычно называют постоянной, а вторую &mdash; переменной.</p>
            <p>В нашей стране функционирует множество предприятий разного масштаба и направлений деятельности.
                Ситуации, рассматриваемые в наших задачах, в основном касаются семейной экономики и индивидуального
                предпринимательства, то есть мелкого и среднего бизнеса, организованного отдельными людьми. В наши дни
                больше всего индивидуальных предпринимателей часто можно встретить в сфере услуг, в таких видах
                деятельности, как грузоперевозки, такси, индустрия красоты, переводы с иностранных языков,
                образовательные, медицинские услуги, ремонтные и строительные работы, уборка помещений и др., а также в
                торговле продуктами питания, цветами, строительными материалами и пр.</p>
            <p>У предпринимателя получаемый им доход связан с расходами: помимо вложенных умственного и физического
                труда, он несет еще и денежные расходы. К примеру, чтобы что-нибудь продать, нужно сначала это купить
                или сделать самому. Предприниматель должен выплачивать: своим работникам &mdash; заработную плату;
                государству &mdash; налоги; банку (если берет кредит, например, на покупку дорогого оборудования)
                &mdash; проценты; хозяину помещения, в котором работает, — арендную плату; и т. д. Деньги, которые
                предприниматель получает от своей деятельности, называются выручкой. Если из выручки вычесть все
                упомянутые выше затраты, образуется прибыль (либо убыток, когда затраты превышают выручку). Прибыль и
                составляет доход предпринимателя, которым он может распоряжаться по своему усмотрению: тратить на
                личные нужды, делать сбережения или вкладывать в развитие своего бизнеса.</p>
            <p>Предпринимателю приходится принимать множество важных решений: что именно и каким образом производить, в
                каком количестве, по каким ценам и кому продавать произведенные товары, работы и услуги. А для этого
                почти всегда приходится делать расчеты, связанные с прогнозированием будущих доходов и планированием
                расходов. При решении задач по теме доходов следует исходить из установки, что при прочих равных
                условиях человек стремится максимизировать доходы.</p>
            <p>Важно также отметить, что жизнь человека в современном обществе неразрывно связана с налогами. Налоги
                являются источником средств для существования государства. На эти средства государство содержит армию,
                полицию, строит дороги, выплачивает пенсии и пособия, оказывает социальные услуги (например, оплачивает
                работу учителей и врачей в государственных школах и поликлиниках), несет другие расходы,
                предусмотренные государственным бюджетом.</p>
            <p>Налоги платят как фирмы, так и отдельные граждане. В частности, налогом облагаются почти все виды
                получаемого гражданами дохода: заработная плата, прибыль от предпринимательской деятельности, средства,
                полученные от сдачи в аренду своего имущества. Кроме того, и само это имущество (квартира, дача, машина
                и пр.) облагается налогом.</p>
            <p>Своевременно и правильно платить налоги &mdash; обязанность каждого гражданина. Именно поэтому важно
                понимать, какие ваши доходы или имущество облагаются налогами и как правильно рассчитать сумму к
                уплате. Полезно знать и о возможностях законным образом уменьшить налоговое бремя &mdash; о том, что
                такое налоговые вычеты, в каких случаях и кто может ими воспользоваться.</p>
            <p>Следует помнить, что неуплата налогов (или их части) является правонарушением и влечет за собой
                наказание в виде штрафов (пеней), а также в особых случаях и уголовную ответственность.</p>
            <h2 id="h2_3" class="usermanual-h2 to-toc">Семейный бюджет</h2>
            <p class="usermanual-first-p">Успешное финансовое планирование начинается с правильно составленного и
                продуманного личного или семейного бюджета. Для того чтобы спрогнозировать свой бюджет (на неделю,
                месяц, год), нужно знать размер своих будущих доходов и расходов. К доходам относятся заработная плата,
                стипендии, пенсии, проценты по депозиту, доходы от сдачи недвижимости и земли в аренду и т.д., а
                расходы включают покупку товаров длительного пользования, коммунальные платежи, плату за образование,
                медицинские услуги, приобретение продуктов, одежды и т.д.</p>
            <p>Составлять качественный прогноз &mdash; это определенного рода искусство. С одной стороны, необходимо
                опираться на статистику прошлых периодов и текущие показатели, с другой стороны, проявлять
                проницательность при прогнозировании ожидаемых изменений.</p>
            <p>При планировании расходов необходимо учитывать, что некоторые из них возникают регулярно, каждый месяц
                или чаще (расходы на еду, коммунальные услуги, транспорт и т.п.), а другие носят разовый характер либо
                совершаются редко (например, расходы на поездку в отпуск, приобретение крупной бытовой техники и т.п.).
                Кроме того, статьи расходов отличаются степенью обязательности и неотложности. Если вам необходимо
                лечение, средства на приобретение лекарств должны быть зарезервированы в бюджете в первую очередь, а
                покупку последней модели телефона можно отложить до лучших времен.</p>
            <p>Аналогично различаются и источники доходов. Выплаты пенсий и стипендий носят регулярный характер, а вот
                выигрыш в лотерею не поддается планированию и явно не может рассматриваться как постоянный источник
                дохода. Заработная плата может быть как постоянным, так и периодическим источником дохода, в
                зависимости от условий вашей работы.</p>
            <p>Залогом успешного финансового планирования является соблюдение простого принципа: общая величина
                обязательных регулярных расходов должна быть меньше величины доходов из постоянных источников.
                Придерживаясь этого правила, оставшуюся часть регулярных доходов и разовые поступления можно будет
                использовать на разовые или необязательные покупки.</p>
            <p>Еще один принцип, которому рекомендуется следовать при планировании, называется принципом разумного
                консерватизма. Он заключается в том, чтобы не завышать доходы, если для этого нет весомых оснований, и
                точно так же без оснований не занижать расходы. Кроме того, в будущие расходы желательно закладывать
                резерв на непредвиденные нужды. Сколько денег отправить в резерв, дело по большей части индивидуальное,
                а задача составителя бюджета &mdash; обосновать эту сумму, например, опираясь на статистику предыдущих
                месяцев или лет.</p>
            <p>Планирование бюджета осуществляется по статьям. Универсального перечня статей для семейного бюджета не
                существует. Каждая семья может определить для себя любую группировку с необходимой степенью
                подробности. Однако статей не должно быть слишком много (желательно не более 20), иначе составление
                прогноза превратится в достаточно трудоемкую задачу, а его точность может пострадать. Именно поэтому,
                помимо основных статей, принято использовать статью &laquo;Прочие&raquo;. К ней можно отнести
                многочисленные мелкие расходы, выделять которые в самостоятельные статьи нет смысла. И все же не стоит
                забывать, что в целом на статью &laquo;Прочие&raquo; должна оставаться небольшая сумма.</p>
            <p>Некоторые разовые расходы, как, например, семейная поездка в отпуск, могу содержать расходы на
                транспорт, развлечения, питание. Нет смысла выделять эти суммы из расходов на отпуск и прибавлять к
                соответствующим повседневным статьям, лучше учитывать все расходы, связанные с отпуском, в одной
                статье. Так вы получите более объективную статистику повседневных расходов и будете понимать на
                будущее, какую сумму в целом стоит закладывать на отдых. Однако это всего лишь один из возможных
                подходов к составлению бюджета и общие рекомендации, а как именно планирует свои доходы и расходы ваша
                семья, вы можете узнать у своих родителей.</p>
            <p>Что делать, если бюджет сведен с дефицитом? Другими словами, как быть, если в результате планирования вы
                обнаружили, что сумма будущих расходов оказалась выше прогнозируемых доходов? Само по себе это не
                страшно, но только если вы твердо знаете, что в следующем периоде (предположим, месяце) ожидаются
                дополнительные доходы (например, годовая премия), которые покроют текущий дефицит. В этом случае, чтобы
                денег хватило на все запланированные расходы, можно использовать заемные средства (взять денег взаймы).
                Если же уверенности в получении дополнительных доходов нет, нужно сбалансировать бюджет: искать
                дополнительные источники доходов или сокращать расходы.</p>
            <p>Отметим, что далеко не всегда необходимо строить сложные прогнозные модели, однако чем более продуманным
                и обоснованным будет ваш бюджет, тем больше вероятность достижения задуманных финансовых целей в
                намеченные сроки.</p>
            <h2 id="h2_4" class="usermanual-h2 to-toc">Сбережения и инвестиции</h2>
            <p>Использовать деньги нужно осознанно, соизмеряя свои потребности и связанные с ними расходы со своими
                возможностями. Это простое правило помогает избежать больших финансовых проблем.</p>
            <p>Разумное финансовое поведение предполагает, что человек делает сбережения, то есть откладывает часть
                своих денег на будущее. Самый простой вариант &mdash; хранить деньги дома, но в этом случае сбережения
                не будут приносить доход. К тому же велик риск потерять их в результате кражи или иного происшествия.</p>
            <p>Выгоднее положить деньги в банк. Банк будет пользоваться вашими деньгами и за это заплатит вам проценты.
                Так сбережения будут работать и приносить доход. Величина процентов зависит от ситуации на рынке и
                условий выбранного вами банковского вклада. Условия, на которых банки предлагают разместить у них
                деньги, могут сильно отличаться. Как правило, у более надежных банков условия вкладов менее выгодные,
                чем у банков, ведущих рискованные финансовые операции.</p>
            <p>Величину процентной ставки принято объявлять в годовом размере &mdash; именно столько процентов банк
                выплатит, если деньги пролежат на счете ровно год. Если же открыть вклад всего на месяц, то процентный
                доход по нему составит 1/12 часть этой суммы. Важно также понимать, что происходит с начисленными
                процентами. Они могут прибавляться к сумме вклада, тем самым увеличивая его общую сумму, либо
                учитываться отдельно.</p>
            <p>Первый способ начисления называют капитализацией процентов. То есть в следующий период (обычно через
                месяц) при расчете процентов ставка будет применяться не только к первоначальной сумме вклада, но и
                недавно добавленным процентам. В этом случае сумма дохода вкладчика (сумма начисленных процентов)
                считается по формуле сложных процентов. В случае если проценты считаются отдельно и не прибавляются к
                остатку на счете, про такой вклад говорят, что он без капитализации процентов (или просто &laquo;без
                капитализации&raquo;), доход по нему считают по формуле простых процентов.</p>
            <p>Для разных условий вклада банк может предложить разные варианты начисления процентов. В качестве таких
                условий, как правило, рассматриваются: минимальная сумма вклада, возможность пополнения вклада или
                частичного снятия средств до окончания срока вклада; наличие неснижаемого остатка на вкладе;
                минимальный срок вклада.</p>
            <p>Вложить свои сбережения можно не только в банк, но и в ценные бумаги (акции, облигации, паи
                инвестиционных компаний и пр.). Доходность по ним может быть как гарантированной, так и не
                гарантированной, и зависеть от различных факторов, в частности от ситуации на рынке.</p>
            <p>Не стоит также забывать, что вкладывать деньги можно не только в чужой бизнес, но и в собственное или
                совместное дело. Эффективность этих вложений в значительной степени будет зависеть от вас.</p>
            <p>При сравнении доходности от разных видов вложений всегда следует помнить: чем выше доход, тем выше и
                риски потерять сбережения. Для того чтобы уберечь себя от неожиданных финансовых потерь,
                придерживайтесь правила: &laquo;Никогда не стоит класть все яйца в одну корзину&raquo;!</p>
            <h2 id="h2_5" class="usermanual-h2 to-toc">Платежи и расчеты</h2>
            <p class="usermanual-first-p">Практически любая экономическая деятельность людей сопровождается денежными
                расчетами. Собственно говоря, именно отношения между людьми и организациями, в которых задействованы
                деньги, мы и относим к сфере экономики. Переход денежных сумм от одних участников этих отношений к
                другим сопровождает многие операции: покупку товаров и услуг, расчеты по оплате труда, приобретение
                недвижимости и ценных бумаг, выплату процентов по вкладам, уплату налогов и сборов, выплату пенсий и
                пособий, возврат кредитов, денежные переводы между родственниками и друзьями и многие другие.</p>
            <p>Традиционным способом расчетов являются операции с наличными деньгами, при которых участники
                экономических отношений используют банкноты и монеты. В этом случае деньги физически передаются от
                одного участника к другому. Однако денежные расчеты все чаще проводятся без использования наличных
                денег. Люди оплачивают товары и услуги, получают зарплату, перечисляют средства другим людям и
                организациям и обходятся при этом без банкнот и монет. Широко распространенным средством безналичных
                расчетов являются пластиковые банковские карты.</p>
            <p>Банковская карта привязана к банковскому счету, на который поступают и с которого списываются ваши
                денежные средства. Для расчетов картой вам не нужны деньги в кошельке, но у вас должны иметься средства
                на счете в банке (или банк должен быть уверен, что они на этот счет поступят).</p>
            <p>Расчеты банковской картой удобны, позволяют обойтись без сдачи, при этом ваши денежные средства лучше
                защищены по сравнению с наличными, которые вы носите в кошельке. Если вдруг вы потеряете карту или у
                вас ее украдут, следует обратиться в банк. Банк сразу же заблокирует утраченную карту и выдаст вам
                взамен новую. Не зная специального ПИН-кода, злоумышленники не смогут воспользоваться вашими деньгами.
                А вот потерянный кошелек вам, скорее всего, уже не вернут.</p>
            <p>Карты делятся на два основных типа: дебетовые и кредитные. При пользовании дебетовой картой вы можете
                потратить столько денег, сколько есть у вас на счете. Иногда банки допускают возможность небольшого
                перерасхода (его называют овердрафтом), но, как правило, берут за это значительные проценты. При
                расчетах кредитной картой вы берете у банка кредит: банк предоставляет вам средства в пределах
                кредитного лимита с обязательством вернуть их в оговоренный срок. Обычно банк устанавливает льготный
                период. Если вы успеете вернуть все потраченные с карты деньги до его окончания, банк не возьмет с вас
                плату за пользование кредитными средствами (проценты). Если же вы вернете не всю сумму, вам придется
                заплатить проценты, а при нарушении срока платежа к процентам добавятся еще и штрафные санкции. Таким
                образом, кредитные карты дают большие возможности, но и предполагают высокую ответственность. Кроме
                того, владелец карты должен четко понимать, в какую сумму ему обойдется удобство, которое он получает,
                пользуясь картой: сколько стоит ее годовое обслуживание, какие операции бесплатны, а какие нет, сколько
                банк возьмет за снятие наличных в банкомате и т. п.</p>
            <p>Помимо банковских карт, безналичные расчеты совершаются с помощью банковских переводов: человек может
                поручить банку перевести средства со своего расчетного счета на счет другого лица или организации.</p>
            <p>Важной особенностью денежных расчетов является то, что в них задействованы (при наличных расчетах
                &mdash; часто, а при безналичных &mdash; всегда) финансовые посредники. На протяжении нескольких
                столетий роль таких посредников выполняли банки, однако в последние годы их успешно теснят
                разнообразные системы электронной торговли и даже операторы мобильной связи! Отдельно нужно вспомнить о
                платежных системах, которые не конкурируют с банками, а обслуживают их при использовании банковских
                карт. Самые известные международные системы &mdash; это Visa и MasterCard, в России недавно появилась
                своя платежная система &laquo;Мир&raquo;. Множество банков выпускает карты, которые обслуживаются этими
                платежными системами. При этом у каждого банка свои условия.</p>
            <p>Как правило, посредники берут за свои услуги небольшую плату, называемую комиссией. Иногда она взимается
                однократно (например, плата за годовое обслуживание банковской карты), иногда уплачивается с каждой
                платежной операции (например, комиссия за банковские переводы). В то же время для привлечения клиентов
                банки и платежные системы нередко разрабатывают бонусные программы, благодаря которым небольшая часть
                потраченных клиентом сумм возвращается на его счет.</p>
            <p>Особое место занимают расчеты с другими странами, при которых операции проводятся в иностранной валюте.
                Каждый раз, отправляясь за границу, мы интересуемся курсом валюты страны, в которую едем, ведь далеко
                не везде можно все свои покупки оплатить рублями, а если и можно, то цены в рублях могут оказаться
                сильно завышенными из-за различий обменного курса. Если вы едете за границу, желательно заранее решить:</p>
            <ul>
                <li>­обменять ли наличные в России или лучше это сделать в стране назначения, и если обменять, то какую
                    сумму;</li>
                <li>­снимать ли деньги в банкомате и использовать наличные или оплачивать покупки банковской картой;</li>
                <li>­какую из банковских карт взять с собой, например, не стоит ли завести новую карту с более
                    выгодными для этого случая условиями.</li>
            </ul>
            <p>Для ответа на эти вопросы необходимо уметь производить валютные расчеты. При обмене валюты курс покупки
                и курс продажи различаются. Банки всегда называют их от своего лица: курс покупки &mdash; это курс, по
                которому банк готов купить данную валюту за рубли, а курс продажи &mdash; курс, по которому банк готов
                продать эту валюту. Разумеется, курс продажи всегда выше, чем курс покупки, поэтому невыгодно покупать
                лишнюю валюту, рассчитывая потом ее излишки продать снова банку.</p>
            <p>И в завершение темы валютных расчетов вспомним о том, что в настоящее время быстрыми темпами растут
                продажи через интернет. Часто люди покупают товары на сайтах зарубежных магазинов, которые не принимают
                рубли. При совершении таких покупок также важно отслеживать изменения курса валют. Возможно, с тех пор
                как вы интересовались курсом в последний раз, он значительно вырос и товар, который вы хотели купить,
                стал слишком дорогим. Вопрос курса валют так же актуален для бизнеса, как и для отдельно взятого
                человека, поскольку многие компании закупают сырье и оборудовании за границей.</p>
            <h2 id="h2_6" class="usermanual-h2 to-toc">Кредиты и займы</h2>
            <p class="usermanual-first-p">Достаточно часто люди оказываются в ситуации, когда нужно что-то купить, а
                денег на покупку не хватает. Имея регулярный доход, человек может накопить необходимую сумму, но это
                потребует некоторого времени. Иногда (например, если речь идет о расходах на лечение) деньги нужны
                срочно, отложить покупку нельзя.</p>
            <p>Решить проблему можно, если на время взять деньги в долг (иначе говоря, в кредит) у других людей или
                организаций. За пользование чужими деньгами, скорее всего, придется дополнительно заплатить проценты.
                Чем дольше срок пользования заемными средствами, тем больше сумма процентов.</p>
            <p>Занять деньги можно у знакомых и родственников, если, конечно, они располагают нужной суммой. Однако
                смешивать деловые и личные отношения не всегда хорошая идея. Более удобным вариантом может оказаться
                обращение в банк &mdash; специализированную финансовую организацию, для которой выдача кредитов
                является одним из основных направлений профессиональной деятельности.</p>
            <p>Банки выдают кредиты на разные цели и на разных условиях. Воспользоваться банковским кредитом можно как
                при покупке чайника, телевизора или других потребительских товаров, так и при более крупных
                приобретениях &mdash; покупке квартиры, машины, оплате обучения, лечения и т. п.</p>
            <p>Кредиты на большие суммы, как правило, выдают на длительные сроки. К таким кредитам относится ипотека –
                кредит, который выдается под залог недвижимости: земли, квартиры или дома, производственного здания.
                Самый популярный в нашей стране вариант ипотечного кредитования &mdash; покупка квартиры с
                одновременным предоставлением ее в залог банку. Процентная ставка по такому кредиту, как правило,
                намного ниже, чем по потребительскому кредиту, ведь риски у банка минимальны: если заемщик не сможет
                выплатить долг, банк имеет право продать заложенную квартиру и вернуть себе выданные средства. К тому
                же банк редко выдает кредит на полную стоимость квартиры. Как правило, он требует от заемщика оплатить
                суммы собственными деньгами. Выплаты по такому кредиту обычно растянуты на несколько лет и
                осуществляются ежемесячно или ежеквартально равными суммами. Такие платежи называют аннуитетными. Этот
                вид платежей широко применяется также и в автокредитовании, и в большинстве других случаев.</p>
            <p>В состав аннуитетного платежа входят две части: сумма, отправляемая на погашение основного долга (тела
                кредита), и проценты по кредиту. При этом пропорция между выплатами тела кредита и процентов меняется в
                течение всего периода выплат. Так, в первые месяцы основную часть аннуитетного платежа составляют
                проценты, и лишь небольшая сумма зачитывается в счет погашения основного долга. Так, некоторые
                заемщики, взявшие ипотеку на 10 или 20 лет и дисциплинированно выплачивающие кредит, через год
                обнаруживают, что их долг перед банком уменьшился совсем незначительно. Постепенно, с каждым следующим
                платежом, доля процентов в нем снижается, а тела кредита &mdash; растет.</p>
            <p>Почему же так происходит? Смысл аннуитетного платежа заключается именно в том, чтобы размер регулярных
                платежей по кредиту оставался неизменным в течение всего срока кредита. Однако банк хочет в первую
                очередь получить проценты за пользование кредитными средствами, поскольку кредитование &mdash; одна из
                ключевых услуг почти любого банка, а процентные выплаты составляют один из основных видов его дохода.
                Погашение тела кредита при этом будет происходить по остаточному принципу. Но все же постепенно долг
                перед банком будет уменьшаться, а вместе с этим будет снижаться и сумма начисляемых процентов и, как
                следствие, расти доля платежа, идущая на погашение основного долга.</p>
            <p>Альтернатива аннуитетному платежу &mdash; дифференцированный платеж, при котором заемщик возвращает
                равными частями тело кредита, а проценты за прошедший месяц (квартал) пользования кредитом прибавляются
                этой сумме. В результате первые платежи, когда долг перед банком еще велик, получаются очень большими,
                а по мере сокращения долга, падает и размер очередного платежа по кредиту.</p>
            <p>Очевидно, что при аннуитетных платежах заемщик выплачивает банку большую сумму процентов, чем при
                дифференцированных. Однако у аннуитета есть и плюсы. Согласитесь: платить на протяжении ряда лет одну и
                ту же сумму достаточно удобно, ее не нужно каждый раз рассчитывать или искать в графике платежей. К
                тому же выплаты в первые месяцы кредита при дифференцированном платеже могут показаться чересчур
                высокими, даже неподъемными, тогда как при аннуитетном платеже платежная нагрузка распределяется
                равномерно. Такой платеж легче запланировать в семейном бюджете, если ваши доходы так же являются
                одинаковыми по сумме и сроку получения.</p>
            <p>Очевидным плюсом дифференцированной системы являются меньшие расходы на выплату процентов банку, но
                получить такой кредит будет сложнее. Ведь банк предварительно изучает вашу платежеспособность и в том
                числе оценивает ваши &mdash; возможности погашать кредит в первые месяцы (периоды), когда сумма
                платежей очень высока. И даже если вы сами решите, что готовы потерпеть трудности, сократив в этот
                период все расходы до минимума, банк вряд ли согласится выдать вам кредит, зная, что для его погашения
                вам придется отказывать себе в самом необходимом.</p>
            <p>Деньги в долг можно взять не только в банке, но и в так называемых микрофинансовых организациях (МФО).
                Процедура получения денег там гораздо проще, но и проценты за пользование деньгами в десятки, а иногда
                и в сотни (!) раз выше. Прибегать к услугам МФО можно только в том случае, если вы уверены, что очень
                быстро сможете вернуть долг и начисленные проценты.</p>
            <p>В любом случае всегда следует помнить, что с получением кредита вы принимаете на себя жесткие
                обязательства по его погашению, несоблюдение которых может привести к крайне негативным последствиям.</p>
            <h2 id="h2_7" class="usermanual-h2 to-toc">Страхование</h2>
            <p class="usermanual-first-p">Как это ни печально, в жизни каждого человека происходят не только радостные
                события, но и неприятности и несчастья. Какие-то из них непоправимы, например, смерть близких, другие
                не так трагичны, но приносят ущерб, устранение последствий которого может требовать значительных
                средств. К числу незапланированных негативных событий могут относиться серьезная авария, пожар в доме,
                потеря трудоспособности из-за тяжелой болезни или увечья, а также другие неприятности с менее тяжелыми
                последствиями: травмы, заболевания, повреждение автомобиля в результате небольших ДТП, затопление
                квартиры соседями и др.</p>
            <p>Для того чтобы снизить влияние неблагоприятных случайных событий на жизнь и финансовое благополучие
                человека, семьи или компании, можно пользоваться услугами страхования. Страховые компании вычисляют
                вероятность наступления того или иного события и на основании этих вычислений назначают цену страховки.</p>
            <p>Обычно цена страховки (она часто называется страховой премией) составляет лишь малую часть от страховой
                суммы, которая будет выплачена, если наступит страховой случай. Но поскольку число людей, с которыми
                страховой случай произошел, относительно невелико по сравнению с общим количеством застрахованных,
                страховая компания использует для этих выплат средства, собранные со всех своих клиентов (страховые
                резервы).</p>
            <p>Каждого человека беспокоит, каким образом будет существовать он и его семья, если в результате болезни,
                несчастного случая или по старости он потеряет способность зарабатывать на жизнь. Уверенность в
                завтрашнем дне могут создать солидные накопления или дорогостоящая собственность, но что делать, если
                их нет? Страхование жизни или на случай потери кормильца может оказаться в этой ситуации очень
                подходящим решением. При этом существуют страховые продукты, сочетающие задачи защиты от
                неблагоприятных ситуаций с задачами сбережения денег. Если с застрахованным лицом что-то произошло до
                окончания программы накопительного страхования, ему выплатят страховку, компенсирующую потерю дохода.
                Если же он благополучно дожил до окончания программы, накопленная сумма станет источником средств в том
                возрасте, когда он уже не сможет работать. При этом нужно понимать: поскольку страховая компания несет
                риски, при благополучном исходе вы получите сумму меньшую, чем если бы инвестировали эти средства в
                нестраховые продукты.</p>
            <p>Застраховать можно не только себя и свое имущество, но и свою ответственность перед другими лицами.
                Например, ОСАГО (обязательное страхование автогражданской ответственности) &mdash; вид страхования, в
                рамках которого страховая компания выплачивает деньги пострадавшей от действий застрахованного лица
                стороне. Если вы едете на автомобиле без ОСАГО и, нарушив правила дорожного движения, врезаетесь в
                другой автомобиль, вам придется не только отремонтировать свою машину, но и оплатить ремонт второго
                автомобиля и лечение пострадавших. В случае если у вас есть страховка, возмещением ущерба, нанесенного
                вами другим лицам, займется страховая компания (в договоре страхования обычно устанавливаются
                ограничения по сумме выплат). Поскольку мы не знаем о вероятности наступления негативных событий для
                каждого из нас, в вопросах страхования стоит придерживаться простого правила: при возможности
                страхуйся.</p>
            <h2 id="h2_8" class="usermanual-h2 to-toc">Риски и финансовая безопасность</h2>
            <p>В сфере экономики и финансов очень большую роль играет фактор неопределенности. Затевая новое дело или
                принимая решение о вложении своих денег, люди не могут с уверенностью предсказать, каков будет
                результат их действий. Даже если решение хорошо продумано, подготовлено и умело реализуется, всегда
                остается опасность, что что-то пойдет не так.</p>
            <p>При осуществлении финансовых операций неизбежно возникают риски потери денег. Причины этих рисков могут
                быть разными. Человек может потерять деньги по никак не зависящим от него причинам: в силу изменений на
                рынке, обесценения денег (инфляции), политических или природных катаклизмов. Кроме того, многие риски
                потери денег могут быть связаны с неверными или недостаточно продуманными финансовыми решениями
                человека или фирмы. Наконец, существует риск потери денег, связанный с кражей или мошенничеством.</p>
            <p>Для того чтобы избежать этих рисков или уменьшить их опасность, необходимо принимать различные меры
                защиты: хранить деньги в безопасном месте, распределять сбережения и инвестиции между различными
                финансовыми инструментами (банковскими вкладами, покупкой акций и др.), страховать свои риски и пр.
                Также необходимо знать уловки мошенников, критично относиться к сверхвыгодным предложениям финансовых
                услуг, уметь защитить свою личную информацию, правильно пользоваться пластиковой картой, банкоматом,
                соблюдать осторожность при платежах через интернет и пр. Принимая те или иные решения, необходимо
                просчитывать их последствия, в ряде случаев для этого необходимо использовать компьютер, обладать
                навыками обработки информации с помощью различных программ.</p>
            <p>Наиболее наглядно это можно показать на примере азартных игр. Лотереи, казино, игровые автоматы,
                тотализатор &mdash; разновидности игр, в которых участники вкладывают свои деньги и надеются получить
                выигрыш, существенно превышающий вложенную сумму. В честно организованных играх (там, где нет
                мошенничества) отдельные игроки время от времени такие выигрыши получают. Например, известно, что в
                популярных лотереях, проводимых &laquo;Гослото&raquo;: &laquo;5 из 36&raquo;, &laquo;6 из 45&raquo;,
                &laquo;7 из 49&raquo; на выигрыши направляется 50% собранных денег. На официальном сайте лотереи можно
                увидеть фотографии счастливых участников, которые выиграли несколько десятков и даже сотен миллионов
                рублей.</p>
            <p>Означает ли это, что лотерея, тотализатор прекрасный способ заработать деньги? Нет, это не так: чем
                больше участник вкладывает деньги, тем увереннее он их проиграет.</p>
            <p>Но как же так? Отдельному человеку может улыбнуться удача, и выигрыш многократно превысит его расходы. И
                вдруг: чем больше участник играет, тем увереннее он проигрывает. Однако никакого противоречия здесь нет
                &mdash; шансы игроков подчиняются законам теории вероятностей.</p>
            <p>Вы все еще не верите, что участник лотереи тем больше проигрывает денег, чем больше играет? Постройте
                модель лотереи с помощью электронной таблицы: &laquo;сделайте&raquo; несколько ставок, с помощью
                генератора случайных чисел задайте выигрышную комбинацию и рассчитайте свой условный выигрыш (или
                проигрыш), разумеется, за вычетом стоимости &laquo;купленных&raquo; лотерейных билетов.</p>
            <p>А верно ли, что, чем больше вы играете, тем больше шансы, что на вашу ставку придется выигрыш? Это тоже
                можно проверить с помощью модели, построенной в электронной таблице. С помощью электронных таблиц можно
                проверить работу различного рода систем, которые якобы повышают вероятность выигрыша в лотерею.</p>
            <p>Информатика помогает не только построить условную модель игры, но и проверить теоретические параметры
                для реальных данных, например, с помощью электронной таблицы или программы можно обработать результаты
                большого количества тиражей лотереи &laquo;Гослото&raquo;, чтобы выяснить, насколько реальные выигрыши
                соответствуют закономерностям, заданным теорией вероятностей.</p>
            <p>Лотерея, казино, тотализатор всегда устроены так, что совокупно все участники проигрывают организаторам,
                поэтому &laquo;игры на деньги&raquo; могут быть развлечением, хобби, но ни в коем случае не должны
                становиться инструментом инвестирования или решения финансовых проблем. Попытка выпутаться из
                финансовых трудностей, вкладывая последние деньги в игры, вероятнее всего, приведет к еще большим
                финансовым трудностям.</p>
        </div>

    </section>
</template>
