<template class="task-template">
    <section id="usermanual-section" class="section js-section u-category-materials">
        <div class="section-wrapper justify-text">
            <div>
                <h1 class="usermanual-h1">Назначение приложения</h1>
                <p>Приложение для ПК предназначено для работы школьников с цифровыми образовательными ресурсами (ЦОР)
                    при отсутствии Интернет-соединения на ПК пользователя и может быть использовано для классной и
                    домашней работы, а также для внеурочной деятельности.</p>
            </div>
            <div>
                <h1 class="usermanual-h1">Работа с ЦОР</h1>
                <div>
                    <h2 class="usermanual-h2">Отбор задач</h2>
                    <p class="usermanual-first-p">Отбор задач осуществляется с помощью системы фильтров по следующим
                        атрибутам задач:</p>
                    <ul>
                        <li>класс (5-6 класс, 7-9 класс, 10-11 класс);</li>
                        <li>тема финансовой грамотности (Расходы, Доходы, Семейный бюджет, Платежи и расчеты, Риски и
                            финансовая безопасность, Страхование, Кредиты и займы, Сбережения и инвестиции);</li>
                        <li>раздел информатики (Программирование, Электронные таблицы, Информационный поиск и анализ
                            информации, Моделирование, Измерение количества информации, Информационная безопасность);</li>
                        <li>сложность (<span title="Базовая" class="difficlity-icon"> <i class="fas fa-star"></i> <i
                                    class="far fa-star"></i> <i class="far fa-star"></i> </span> &mdash; базовая, <span
                                title="Повышенная" class="difficlity-icon"> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                                <i class="far fa-star"></i> </span> &mdash; повышенная, <span title="Высокая" class="difficlity-icon">
                                <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                            </span> &mdash; высокая);</li>
                        <li>тип задачи (Текст &mdash; задача для решения вне приложения, Интеректив &mdash; задача для
                            проверки решения в приложении).</li>
                    </ul>
                    <p>После установки желаемых фильтров отображается перечень отобранных задач.</p>
                    <p>Вывести отобранные задачи на печать можно путём нажатия на кнопку с иконкой принтера,
                        отображенного в правом нижнем углу.</p>
                </div>
                <div>
                    <h2 class="usermanual-h2">Решение задач</h2>
                    <p class="usermanual-first-p">Задачи, соответствующие фильтру &laquo;Текст&raquo;, предназначены
                        для решения вне приложения. В некоторых задачах имеются исходные данные, которые необходимо
                        загрузить на Ваш ПК, кликнув на подчеркнутый текст внутри задачи.</p>
                    <p>Задачи, соответствующие фильтру &laquo;Интерактив&raquo;, предназначены для проверки решения
                        внутри приложения. После решения задачи в поле для ответа под задачей нужно ввести ответ в
                        требуемом формате и нажать &laquo;Проверить&raquo;. Появится уведомление об успешности решения
                        задачи. Для повторного введения ответа необходимо очистить поле ввода клавишей Backspace или
                        кликнуть мышкой на уведомление &laquo;Неправильный ответ&raquo;.</p>
                    <p>Задачи, соответствующие фильтру &laquo;Excel&raquo;, также являются интерактивными. Однако для
                        работы с ними требуется произвести вычисления в специальном Excel-файле, который необходимо
                        сначала выгрузить к себе на компьютер с помощью кнопки &laquo;Скачать условие&raquo;. После
                        того как необходимые вычисления будут выполнены этот файл необходимо снова загрузить в
                        приложение с помощью кнопки &laquo;Проверить решение&raquo;. Появится уведомление об успешности
                        решения задачи. Для повторной проверки решения необходимо загрузить новый файл с измененным
                        решением.</p>
                </div>
                <div>
                    <h2 class="usermanual-h2">История работы с ЦОР</h2>
                    <p class="usermanual-first-p">В шапке заголовков интерактивных задач отображается количество
                        попыток до успешного решения. Сбросить результаты решения можно нажав на активный текст
                        &laquo;Сбросить результаты прорешивания&raquo;, расположенный под таблицей с фильтрами.</p>
                </div>
            </div>
            <div>
                <h1 class="usermanual-h1">Полезные материалы</h1>
                <p>В разделе &laquo;Полезные материалы&raquo; размещены:</p>
                <ul>
                    <li>Сборник текстов &laquo;Финансы в информатике&raquo;, поясняющий как с помощью инструментов
                        информатики можно решать задачи в той или иной сфере финансовой грамотности.</li>
                    <li>Глоссарий по терминам финансовой грамотности, поясняющий финансовые термины, встречающиеся в
                        задачах.</li>
                    <li>Учебные пособия для школьников, содержащие полный сборник задач для соответствующих классов.</li>
                </ul>
            </div> </br>
            <p>Все актуальные тексты и задачи учебных материалов размещены на сайте <a href="http://www.finformatika.ru/">www.finformatika.ru</a>.</p>
        </div>
    </section>
</template>
