@media print {
  body {
    background: none;
    color: black !important;
    font-size: 100%;
    margin: 0; padding: 0;
    -webkit-print-color-adjust: exact;
  }

  h1 {
    font-size: 22px;
  }
  
  #main-container {
    border-top: none !important;
    margin-top: 0px !important;
  }

  .button-pdf, 
  .button-search,
  .button-report,
  .button-top {
    display: none !important;
  }

  .toc-header {
    display: none;
  }

  .search-active, .searchbar {
    display: none;
  }

  #spinner {
    display: none !important;
  }

  .checker-controls, 
  .checker-result {
    display: none;
  }

  .nav, button, .demo-box:before,
  #pdf-path, header p {
    display: none;
  }

  h2, pre, code {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
  }

  /* Needed for printing not only first page */
  .section {
    overflow: visible !important;
  }

  .filters-header {
    display: none;
  }

  .demo-box {
    margin: 0 !important;
    padding-top: 0px !important;
    border: none !important;
    /* Open all questions on print */
    display: block;
    opacity: 1;
  }

  header {
    padding: 0 0 10px 0;
  }

  code, .support {
    font-size: 10px;
  }
}
