@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro'), url(fonts/SourceCodePro-Regular.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}

/* Fixing "Electron Helper Couldn't set selectedTextBackgroundColor from default ()" */
::selection {
  background: transparent;
}


html, body {
  font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  margin-left: -1.5px;
  margin-top: -0.5px;
  margin-bottom: 0px;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Meiryo", sans-serif;
  overflow: hidden;
}

.inpage-search-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4px;
}

.inpage-search-input {
  flex: auto;
  -webkit-appearance: textfield;
  box-sizing: border-box;
  font-size: 16px;
  height: 27px;
  margin-right: 6px;
  outline: 0;
}
.inpage-search-input:focus {
  border: solid #83bffc 1px;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.inpage-search-matches {
  color: #999;
  font-size: 0.8em;
}

.inpage-search-back {
  margin-left: 2px;
  padding-left: 2px;
  padding-right: 2px;
  cursor: pointer;
}

#button-search {
  margin-left: 6px;
  cursor: pointer;
}

#button-search-clear {
  display: none;
  position: relative;
  z-index: 10;
  left: -30px;
  /* top: 1px; */
  cursor: pointer;
  width: 0;
  /*margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none; */
}

.inpage-search-forward {
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 0px;
  cursor: pointer;
}

/* .inpage-search-close {
  margin-left: 4px;
  padding: 0 2px;
  cursor: pointer;
} */

/* .inpage-search-close:hover {
  ;
} */

.inpage-search-back:hover,
.inpage-search-forward:hover {
  background-color: #e2e0e2;
  border-radius: 0.2em;
}
